n8n-workflows/telegram-start-linking.json
{
  "name": "Telegram trigger",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        16
      ],
      "id": "3e50dd77-8472-4b38-92b2-def288b65517",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.message?.text || \"\";\nconst chatId = String($json.message?.chat?.id || \"\");\n\n// Split by space\nconst parts = text.trim().split(/\\s+/); \nconst token = parts.length > 1 ? parts[1] : \"\";\n\n// Only return if there is actually a token to link\nreturn {\n  token: token,\n  chatId: chatId,\n  isValid: token.length > 0 // High-value flag for your If Node\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        16
      ],
      "id": "1fe0e609-340c-4fa2-90ab-b3d63abade09",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/api/telegram/link",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "chatId",
              "value": "={{ $json.chatId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        32
      ],
      "id": "3a06db93-8773-4559-a0e9-4e00e78369cf",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Code in JavaScript\"].json.chatId }}",
        "text": "✅ Telegram linked successfully. You will now receive assignment notifications.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -112
      ],
      "id": "df1c6ca0-2cce-499f-afb9-92c4c07d2979",
      "name": "Send a text message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "26333067-3482-4eef-90b3-588e57248432",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        16
      ],
      "id": "dbdf260f-8204-4c42-8708-ce8963782648",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "❌ Missing token. Please request a fresh link from the app.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        -96
      ],
      "id": "b3245536-474a-4a9f-a407-f40ad78b62cc",
      "name": "Send a text message1",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Code in JavaScript\"].json.chatId }}",
        "text": "={{ \n  $json.error?.message?.includes(\"already linked\")\n    ? \"⚠️ This Telegram account is already linked to another user.\"\n    : $json.error?.message?.includes(\"expired\")\n    ? \"⌛ Token expired. Please generate a fresh link in the app.\"\n    : $json.error?.message?.includes(\"Invalid or used\")\n    ? \"❌ This token is invalid or already used.\"\n    : \"❌ Unable to link your account. Please ensure you clicked the link correctly or try again later.\"\n}}",
        "replyMarkup": "",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        128
      ],
      "id": "2ab65509-8b04-41be-b02e-600abe4b27a0",
      "name": "Send a text message2",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
